.studios {
    display: flex;
    align-items: flex-start;
    margin: 8px;
}
.studio {
    width: 16vw;
    height: 10vh;
    
    background-color: #373946;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px;
    margin: auto;
}