body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2C3145;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.download-page{
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-download-page{
  background-color: #3F4249;
  color: #ffffff;
  padding: 30px;
  font-size: 36px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  margin-top: 15rem;

}

.link-download-page:hover{
  background-color: #787b81;
}