body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2C3145;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.download-page{
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-download-page{
  background-color: aliceblue;
  padding: 20px;
  text-decoration: none;
  margin-top: 20rem;

}