.banner{
    max-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-height: 100vh;
}
.inner {
    display: flex;
}
.banner-img{
    padding: ;: 10px;
    width: 95vw;
    height: auto;
    pointer-events: none;
}
.carousel {
    cursor: grab;
    overflow: hidden;
}
