.banner {
    max-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.inner {
    display: flex;
}

.banner-img {
    margin: 1rem 3px;
    width: 340px;
    height: 200px;
    pointer-events: none;
    border-radius: 5px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.692);
}

.carousel {
    cursor: grab;
    overflow: hidden;
}


@media (min-width: 1024px) {
    .banner {
        max-width: 1600px;
    }

    .banner-img {
        width: 940px;
        height: 400px;
        margin-left: 30px;
    }
}
@media (min-width:1366px) {
    
}


@media (min-width:1440px) {
    .banner {
        max-width: 2100px;
    }

    .banner-img {
        margin-left: 50px;
        width: 1300px;
        height: 600px;
    }
}

@media (min-width:1680px) {
    .banner {
        max-width: 2500px;
    }

    .banner-img {
        margin-left: 50px;
        width: 1500px;
        height: 700px;
    }
}