.banner{
    max-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.inner {
    display: flex;
}
.banner-img{
    margin: 1rem 3px;
    width: 290px;
    height: 200px;
    pointer-events: none;
}
.carousel {
    cursor: grab;
    overflow: hidden;
}
