.titulo-sessao{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin-left: 10px;

}

.imagem-sessao {
    height: 25vh;
    width: 30vw;
    margin-right: 10px;
    border-radius: 5px;
}

.carrossel {
    cursor: grab;
    overflow: hidden;
}
@media (min-width:1024px){
    .titulo-sessao{
        font-size: 18px;
        margin-left: 12px;
    }
    .imagem-sessao{
        height: 45vh;
        width: 26vw;
    }
}
@media (min-width:1440px){
    .titulo-sessao{
        font-size: 24px;
        margin-left: 16px;
    }
    .imagem-sessao{
        height: 45vh;
        width: 26vw;
    }
}
@media (min-width:1680px){
    .titulo-sessao{
        font-size: 28px;
        margin-left: 18px;
    }
    .imagem-sessao{
        height: 50vh;
        width: 25vw;
    }
}